.notice {
  z-index: 1000;
  .notice-close {
    font-family: Arial;
    position: absolute;
    top: 5px;
    right: 16px;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #000;
    opacity: 0.2;
    text-shadow: 0 1px 0 #fff;

    &:after {
      content: 'x';
    }
    &:hover {
      opacity: 0.5;
    }
    &:active {
      opacity: 0.7;
    }
  }
}
theme(name, color) {
  .notice-{name} {
    background: color;
    color: darken(color, 60);
  }
}
theme('error', #f2dede);
theme('success', #dff0d8);
theme('info', #f0f0f0);
theme('warning', #f9fad2);
